.Mj-btn{

border:none;padding:5px;
padding-left:10px;
padding-right:10px;
color:white;
font-family:Verdana;
float:right;

}

.Mj-cls{
background-color:#4245f4;
border:none;padding:10px;
color:white;

}


