
.shakeel-jumbotron{
	background-image:url('../images/renamed.jpeg');
	background-size:cover;    
	color:#fff; 
}

.sab-span1{
	text-align:center;
	font-weight:bold;
	font-size:35px; 
	}  

.sab-card{

	border:none;
}

.sab-col{
	margin-top:20px; 
padding-left:7%; 
padding-right:7%;
}
.sab-span1 span{
	color:#ff0000;
	font-size:40px; 
}	

.sab-container2{
	margin-top:20px;

 
}
.sab-span2{
	color:#ff0000;
}
.image-class{

	border:0px solid #fff;
	border-radius:5px; 
 overflow: hidden;
 height: 100%;
  position: relative;
  width:100%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);

}
.image-class img{
	  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
   display:block;

	 
  width: 100%;
    height:100%;

}
.image-class img:hover{
	transition-duration:1s;
transform:scale(1.1);

  cursor:pointer

}
.sab-container1{
	margin-top:30px; 
}

.sab-commonSeprator{
	height: 1px;
	width:250px;
	position: relative;
	background-color: #cdcdcd;
	    margin: 10px auto 30px;
    display: block;
}
.sab-circleDot {
    margin-left: -5px;
    width: 12px;
    height: 12px;
    border: 1px solid #cdcdcd;
    border-radius: 360px;
    top: -6px;
    background-color: #fff;
    }
    .sab-circleDot {

    position: absolute;
    left: 50%;
}





  




/*form*/
	



.sab-body{
	background-image:url("../images/formbackground.jpg"); 
	background-size:cover;


}
@media only screen and (max-width: 900px) {
   .sab-body{
        background-image: none;
    }

   

}

#sab-signup{
background-color:#fff;
  padding:40px; 
border-radius:6px;
box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.50);	
margin-top:38px;
}


 .sab-or {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #cdcdcd ; 
   line-height: 0.1em;
   margin-top: 20px;
   padding-top:15px; 

} 
.sab-or>span { 

    background:#fff; 
    color:#cdcdcd; 
    padding:10px; 

}


.sab-button1{
	min-width:30%;background-color:#3b5998;color:#fff;cursor: pointer;  

}
.sab-button2{
min-width:30%;background-color:#1dcaff;color:#fff;cursor: pointer; 
}
.sab-button3{
	min-width:30%;background-color:#d34836;color:#fff; cursor: pointer;

}


.sab-h2-signup1{
	margin-bottom:20px;
}
.sab-h2-signup2{
	margin-top:25px;
}




.sab-arow-icon{
	color:#574AF9;
	cursor: pointer;
}


.form-control:focus{
	border:0px;
  box-shadow:  0 0px 0px rgba(0, 0, 0, 0.00), 0 0 1px rgba(0, 0, 0, 0.6);
}










/*form2*/

.sab-icon{
	color:#5244F9;


}


.input-group-addon{
	background-color:#fff;
}


.sab-arow-icon1{
	position:relative; 
 	margin-bottom:50px; 
color: #574AF9;
cursor:pointer;

}

.sab-or1{
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #cdcdcd ; 
   line-height: 0.1em;
   position:relative; 
   margin-bottom: 40px;
   padding-top:10px; 

} 
.sab-or1>span { 

    background:#fff; 
    color:#cdcdcd; 
    padding:10px; 

}
.sab-forgot{
	color: #574AF9;
text-align:right;   
}
.sab-signin1{

	position:relative;
	top:10px; 
}
#sab-signin-column{
	padding:40px;
	background-color:#fff; 
	margin-top:3.5%;  
}



/*form3*/
